<!-- 顶部导航 -->
<div class="container">
	<header id="site-header">
		<div class="row">
			<div class="col-md-4 col-sm-5 col-xs-8">
				<div class="logo">
					<h1><a href="index.html"><b>My Blog</b></a></h1>
				</div>
			</div>
			<div class="col-md-8 col-sm-7 col-xs-4">
				<nav class="main-nav">
					<div class="navbar-header">
						<button type="button" id="trigger-overlay" class="navbar-toggle">
							<span class="ion-navicon"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="cl-effect-11"><a href="" data-hover="首页">首页</a></li>
							<li class="cl-effect-11"><a href="" data-hover="博客">博客</a></li>
							<li class="cl-effect-11"><a href="" data-hover="关于">关于</a></li>
							<li class="cl-effect-11"><a href="" data-hover="联系">联系</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
</div>

<!-- 主体区域 -->
<div class="container main-container">
    <router-outlet></router-outlet>
</div>

<!-- 底部区域 -->
<div id="site-footer" class="footer bs-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<p class="copyrights">© 2017 - 采集自模板之家 </p>
			</div>
        </div>
    </div>
</div>