#site-header {
    background-color: #FFF;
    padding: 25px 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e7e7e7;
}
.main-nav {
    margin-top: 11px;
    max-width: 95%;
}

.main-nav a {
    color: #000000 !important;
    padding: 0 0 5px 0 !important;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.main-nav a:active,
.main-nav a:focus,
.main-nav a:hover {
    background-color: transparent !important;
    border-bottom: 0;
}

.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 0;
    margin-right: 25px;
}

.navbar-toggle span {
    font-size: 2em;
    color: #000;
}

/**
 * 3.2.1 - Main Nav CSS 3 Hover Effect
 */

.cl-effect-11 a {
    padding: 10px 0;
    color: #0972b4;
    text-shadow: none;
}

.cl-effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 0 5px 0 !important;
    max-width: 0;
    border-bottom: 1px solid #000;
    color: #000;
    content: attr(data-hover);
    white-space: nowrap;
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
    max-width: 100%;
}
.main-container{
    min-height: 400px;
}